connexion == 2.7.0
python_dateutil == 2.8.1
setuptools >= 21.0.0
swagger-ui-bundle==0.0.8
connexion[swagger-ui]
boto3==1.16.34
pymysql==0.10.1
sqlalchemy==1.3.20
flask_sqlalchemy==2.4.4
watchtower==1.0.1